<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Modifier le Catway</title>
  </head>
  <body>
    <%- include('../partials/menu') %>

    <h1>Modifier le Catway <%= catway.catwayNumber %></h1>

    <!-- Bouton pour retourner au dashboard -->
    <a href="/dashboard" class="btn">Retour au Dashboard</a><br /><br />

    <form
      action="/catways/<%= catway.catwayNumber %>?_method=PUT"
      method="POST"
    >
      <label for="catwayState">État :</label>
      <input
        type="text"
        id="catwayState"
        name="catwayState"
        value="<%= catway.catwayState %>"
        required
      /><br /><br />
      <button type="submit">Mettre à jour</button>
    </form>
  </body>
</html>
