<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Page Introuvable</title>
  </head>
  <body>
    <h1>404</h1>
    <p>Oups ! La page que vous cherchez est introuvable.</p>
    <a href="/">Retour à l'accueil</a>
  </body>
</html>
