<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Bienvenue sur le Tableau de Bord</h1>
    <p>Bonjour</p>
    <p>Date du jour : <%= new Date().toLocaleDateString('fr-FR') %></p>

    <h2>Menu</h2>
    <ul>
      <li><a href="/catways">Gestion des Catways</a></li>
      <li><a href="/reservations">Gestion des Réservations</a></li>
      <li><a href="/users">Gestion des Utilisateurs</a></li>
      <li><a href="/logout">Se déconnecter</a></li>
    </ul>
  </body>
</html>
