<!DOCTYPE html>
<html>
  <head>
    <title>Tableau de Bord</title>
  </head>
  <body>
    <h1>Tableau de Bord</h1>
    <p>
      Accédez aux opérations CRUD pour les catways, les réservations et les
      utilisateurs.
    </p>
    <ul>
      <li><a href="/api/catways">Gestion des Catways</a></li>
      <li><a href="/api/reservations">Gestion des Réservations</a></li>
      <li><a href="/api/users">Gestion des Utilisateurs</a></li>
    </ul>
  </body>
</html>
