<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Bienvenue au Port de Plaisance Russell</h1>
    <p>
      Connectez-vous pour accéder à la gestion des catways et des réservations.
    </p>
    <a href="/login">Se connecter</a>
    <a href="/api-docs">Documentation de l'API</a>
  </body>
</html>
